<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.emptydemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DaemonApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity"
            android:label="1test/test">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity2"
            android:label="1test/test2">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity3"
            android:label="1test/test3">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity4"
            android:label="1test/test4">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity5"
            android:label="1test/test5">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity6"
            android:label="1test/test6">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity7"
            android:label="1test/test7">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity8"
            android:label="1test/test8">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity9"
            android:label="1test/test9">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity10"
            android:label="1test/test10">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity11"
            android:label="1test/test11">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity12"
            android:label="1test/test12">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 所有activity必须配置label -->
        <activity
            android:name=".SecondActivity13"
            android:label="1test/test13">

            <!-- 所有acivity都必须配置这个action和category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name=".SuperService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.enablexpmod.daemon" />
            </intent-filter>

        </service>
        <service
            android:name=".AssistService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>